<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="YAAF" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <YAAF>
    <add key="logv.YAAF.ConsoleSample.ITest" value="logv.YAAF.ConsoleSample.TestClass;logv.YAAF.ConsoleSample"/>
    <add key="logv.YAAF.ConsoleSample.IEx1" value="logv.YAAF.ConsoleSample.TestClassEx;logv.YAAF.ConsoleSample"/>
    <add key="logv.YAAF.ConsoleSample.IEx2" value="logv.YAAF.ConsoleSample.TestClassEx;logv.YAAF.ConsoleSample"/>
    <add key="logv.YAAF.ConsoleSample.IEx3" value="logv.YAAF.ConsoleSample.TestClass3;logv.YAAF.ConsoleSample"/>
  </YAAF>
</configuration>